<div class="text-center">
    <h1 class="display-4">Quản lý kho hàng</h1>
</div>
<nav>
    <ul>
        <li><a href="PhieuNhapKho">Phiếu nhập kho</a></li>
        <li><a href="PhieuXuatKho">Phiếu xuất kho</a></li>
    </ul>
</nav>
<main>
    <h2>Danh sách sản phẩm trong kho</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Mã sản phẩm</th>
            <th>Đơn vị tính</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sản phẩm A</td>
            <td>SpA001</td>
            <td>Thùng</td>
            <td>50</td>
            <td>500000</td>
            <td>500000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sản phẩm B</td>
            <td>SpB002</td>
            <td>Thùng</td>
            <td>50</td>
            <td>500000</td>
            <td>500000</td>
        </tr>
    </table>
    <h2>Danh sách phiếu nhập kho</h2>
    <ul>
        <li>Phiếu nhập kho 1</li>
        <li>Phiếu nhập kho 2</li>
        <li>Phiếu nhập kho 3</li>
    </ul>

    <h2>Danh sách phiếu xuất kho</h2>
    <ul>
        <li>Phiếu xuất kho 1</li>
        <li>Phiếu xuất kho 2</li>
        <li>Phiếu xuất kho 3</li>
    </ul>
</main>